@import url('colors.css');
* {
    border: none;
    border-radius: 4px;
    /* `ttf-font-awesome` is required to be installed for icons */
    font-family: Consolas, sans-serif;

    /* adjust font-size value to your liking: */
    font-size: 12px;
    font-weight: bold;

    min-height: 0;
}

window#waybar {
    background-color: black;
}


#mode {
    background-color: #64727D;
    /* border-bottom: 3px solid @foreground; */
}
.modules-right{
  border-radius: 20px;
  border: 2px solid @darkGalaxyColor1;
}

#custom-logout,
#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#language,
#mpd {
    padding: 0px 10px;
    margin: 1px 1px; 
    color: @darkGalaxyColor1;
}

#window,
#workspaces {
  background-color: transparent;
  border-radius: 0px;
  margin: 1px;
}
#workspaces button {
  /* padding: 0 0.4em; */
  background-color: @darkGalaxiyColor5; 
  color: @darkGalaxyColor1;
  border: 2px solid @darkGalaxyColor1;
  border-radius: 20px;
  margin: 1px 1px;
}

#workspaces button.active {
    border: 1px solid @darkGalaxyColor1;
    background-color: @darkGalaxyColor1;
    color: @darkGalaxyColor5
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#custom-logout {
}
#custom-logout:hover {
}

#clock {
}

#battery {
}

#battery.charging {
}

@keyframes blink {
    to {
        background-color: @foreground;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    color: @foreground;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
}

#cpu {
}

#memory {
}

#backlight {
}

#network {
}

#network.disconnected {
}

#pulseaudio {
}

#pulseaudio.muted {
}

#temperature {
}

#temperature.critical {
    color: #eb4d4b;
}

#tray {
    background-color: #2980b9;
}
